# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\payad\New Gudang\gudang.new\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
